
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <div data-controller="character-counter">
      <%= f.input :body, as: :text, input_html: {
        data: {
          character_counter_target: "input"
        }
      } %>
      <div class="character-counter" data-character-counter-target="counter">
        <span data-character-counter-target="count">0</span> / 100
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
